{{ define "main" -}}
  <main>
    <ul>
      <!-- Ranges through content/posts/*.md -->
      {{ range .Sections}}
        {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
        {{ end }}
      {{ end }}
      <!-- Ranges through content/*.md -->
      {{ range .Pages }}
        {{ if ne .Kind "section" }}
          <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </main>
  <a href="https://twitter.com/omakoleg?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @omakoleg</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{- end }}
