{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <main class="content container">
    {{ block "main" . -}}{{- end }}
    </main>

    <!-- Google Analytics off for dev server -->
    {{- if not .Site.IsServer -}}
      {{ template "_internal/google_analytics_async.html" . }}
    {{- end -}}
  </body>
</html>
