<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  {{ hugo.Generator }}

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="twitter:card" content="summary"/>
  <meta property="twitter:creator" content="@omakoleg" />
  <meta name="author" content="Oleg Makiienko">

  <!-- Choose card image -->
  {{ if .Params.cardimage -}}
    <meta name="image" property="og:image" content="http://omakoleg.gitlab.io/{{ .Params.cardimage }}"/>
  {{- else -}}
    <meta name="image" property="og:image" content="http://omakoleg.gitlab.io/images/twitter-card.jpg"/>
  {{- end }}

  <!-- Google search console -->
  <meta name="google-site-verification" content="UXUZv_yoBw1cnWfjdD5DDdjtI9n0VSDn4W-BeGGlpqU" />

  {{ if .IsHome -}}
  <meta property="og:title" content="Oleg Makiienko Personal blog" />
  <meta property="og:description" content="Oleg Makiienko Personal blog"/>
  {{- else -}}
  <meta property="og:title" content="{{ .Params.Title }}" />
  <meta property="og:description" content="{{ .Params.Description }}"/>
  {{- end }}

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
  {{ partial "head_fonts.html" . }}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  <!-- RSS etc -->
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end -}}

  {{ partial "hook_head_end.html" . }}
</head>
